<br>
<h1 style="font-family: 'Gloria Hallelujah'; margin-left: 20px"> Jars you can view! </h1>
<% @viewable.each do |v| %>
<br>
<div class="row">
  <div class="col-md-1">
      <img style="margin-left: 20px" class="img-responsive" src="/images/empty-jar-placeholder1.png" alt="empty jar placeholder" />
  </div>
  <div class="col-md-3">
    <h3 style="margin-left: 20px"> <%= link_to v.jar.name, jar_path(v.jar.id) %> </h3>
  </div>
  <div class="col-md-8"></div>
</div>
<br>
<hr>
<% end %>
<br>
<h1 style= "font-family: 'Gloria Hallelujah'; margin-left: 20px"> Jars you can contribute to and view! </h1>
<% @contributable.each do |c| %>
<br>
<div class="row">
  <div class="col-md-1">
      <img style="margin-left: 20px" class="img-responsive" src="/images/empty-jar-placeholder1.png" alt="empty jar placeholder" />
  </div>
  <div class="col-md-3">
    <h3 style="margin-left: 20px"> <%= link_to c.jar.name, jar_path(c.jar.id) %> </h3>
  </div>
  <div class="col-md-8"></div>
</div>
<br>
<hr>
<% end %>
