<h1><%= @jar.name %></h1>
<br>
<br>
<br>

<% if logged_in? %>
<%= link_to "Put a new memory in this jar.", new_mem_path(@jar) %>
<%end%>
<br>

<% @jar.mems.each do |u| %>

<h5>Memory: <%= u.body %></h5>

<% end %>
