<br>
<div id="wrap">
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-1.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"><div class="innerTextContent" style="background-color: rgb(175, 29, 94)">Lorem ipsum dolor sit amet, mea - 2006</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-2.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)"> praesent deterruisset, sed saperet - 2012</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-3.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">nominavi percipit in. Pri antiopam - 1996</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-4.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(150, 29, 175)"><div class="innerTextContent" style="background-color: rgb(150, 29, 175)">Vis ei tation platonem, eu - 2006</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-5.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-1.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-2.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-3.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-6.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"><div class="innerTextContent" style="background-color: rgb(175, 29, 94)"> fugit oratio, denique vivendum - 2013</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-7.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)">Te nam perfecto persecuti - 2004</div></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-4.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-5.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-6.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">Mea saperet incorrupte an, eruditi - 1998</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-8.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">Sed no tation lorem, graeci - 1983</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-9.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"><div class="innerTextContent" style="background-color: rgb(175, 29, 94)">Prima maiorum vivendo vim no - 2005</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-10.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)">Nostro everti postulant sea ne - 2002</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-11.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(150, 29, 175) "><div class="innerTextContent" style="background-color: rgb(150, 29, 175)">Mediocrem interesset, te quem - 2011</div></div>
  </div>

</div>
