<br>
<div id="wrap">
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-1.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-2.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-3.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-4.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(150, 29, 175)"></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-5.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-1.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-2.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-3.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-6.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-7.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-4.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-5.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-6.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-8.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-9.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-10.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-11.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(150, 29, 175) "></div>
  </div>

</div>
