<br>
<div id="wrap" style="margin-right: 11px">
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-1.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"><div class="innerTextContent" style="background-color: rgb(175, 29, 94)">Helen's favorite spring activity - 2006</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-2.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)"> Eating vegetables isn't so bad - 2012</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-3.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">Washington High Juniors REPRESENT! - 1996</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-4.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(150, 29, 175)"><div class="innerTextContent" style="background-color: rgb(150, 29, 175)">Noah scores 22 points in one game - 2006</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-5.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-1.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-2.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-3.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-6.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"><div class="innerTextContent" style="background-color: rgb(175, 29, 94)">Extended family is best family - 2013</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-7.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)">Ready for Hawaii trip!!! - 2004</div></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-4.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-5.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-6.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">That has got to be the high score - 1998</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-8.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">We will always have Paris, mi amour - 1983</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-9.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"><div class="innerTextContent" style="background-color: rgb(175, 29, 94)">Sigma Kappa last party of semester - 2005</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-10.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)">Mom and Dad meet Greg for the first time - 2002</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-11.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(150, 29, 175) "><div class="innerTextContent" style="background-color: rgb(150, 29, 175)">Jackie watches the "flutterbys" - 2011</div></div>
  </div>

</div>
