<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><h1 class="text-center">Welcome to The Jar</h1></div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8"><img class"img-responsive" src="/images/memory-jar-placeholder1.jpg" alt="memory jar placeholder" /></div>
  <div class="col-md-2"></div>
</div>
