<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><h1 id="welcome-display" class="text-center">Welcome,  <%=current_user.name%>.</h1></div>
  <div class="col-md-3"></div>
</div>
<div id="wrap">
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-12.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)">No matter what said Jake - 2006</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-13.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"><div class="innerTextContent" style="background-color: rgb(175, 29, 94)"> Beach party with Fred and Linda - 2012</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-14.JPG" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(150, 29, 175)"><div class="innerTextContent" style="background-color: rgb(150, 29, 175)">Making "daddy's face" - 1996</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-15.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">Final game, Nate scores a triple - 2006</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-16.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-1.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-2.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-3.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-17.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)"> Freshmen class 'Cyclone Squad' 4ever - 2013</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-18.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"><div class="innerTextContent" style="background-color: rgb(175, 29, 94)">Studying at Coffee Bean - 2004</div></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-4.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-5.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-6.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">Empire State Building with Mom, thinking of Dad - 1998</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-19.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)">Getting ready for summer - 1983</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-20.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">Birthday party preparations - 2005</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-21.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(150, 29, 175)"><div class="innerTextContent" style="background-color: rgb(150, 29, 175)">Jen gets back from Italy study abroad - 2002</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-22.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94) "><div class="innerTextContent" style="background-color: rgb(175, 29, 94)">Kate + Chris hooked up behind bleachers before homecoming - 2011</div></div>
  </div>

</div>
