<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><h1 id="welcome-display" class="text-center">Welcome,  <%=current_user.name%>.</h1></div>
  <div class="col-md-3"></div>
</div>
<div id="wrap">
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-12.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)">Lorem ipsum dolor sit amet, mea - 2006</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-13.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"><div class="innerTextContent" style="background-color: rgb(175, 29, 94)"> praesent deterruisset, sed saperet - 2012</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-14.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(150, 29, 175)"><div class="innerTextContent" style="background-color: rgb(150, 29, 175)">nominavi percipit in. Pri antiopam - 1996</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-15.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">Vis ei tation platonem, eu - 2006</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-16.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-1.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-2.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-3.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-17.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)"> fugit oratio, denique vivendum - 2013</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-18.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94)"><div class="innerTextContent" style="background-color: rgb(175, 29, 94)">Te nam perfecto persecuti - 2004</div></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-4.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-5.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div id="jar-logo-box" class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/logo-home-jar-6.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">Mea saperet incorrupte an, eruditi - 1998</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-19.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(255, 249, 108)"><div class="innerTextContent" style="background-color: rgb(255, 249, 108)">Sed no tation lorem, graeci - 1983</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-20.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(85, 250, 81)"><div class="innerTextContent" style="background-color: rgb(85, 250, 81)">Prima maiorum vivendo vim no - 2005</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-21.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(150, 29, 175)"><div class="innerTextContent" style="background-color: rgb(150, 29, 175)">Nostro everti postulant sea ne - 2002</div></div>
  </div>
  <div class="box">
    <div class="innerContent"><img style="padding: 0px" class="img-responsive center-block" src="/images/sample-memory-22.jpg" alt="placeholder"/></div>
  </div>
  <div class="box">
    <div class="innerContent" style="background-color: rgb(175, 29, 94) "><div class="innerTextContent" style="background-color: rgb(175, 29, 94)">Mediocrem interesset, te quem - 2011</div></div>
  </div>

</div>
