<h1>Add a contributor.</h1>

<%= form_for @contributor, :url => create_contributor_path do |f| %>

    <div>
        <%= f.label :user_id %>
        <%= f.number_field :user_id %>
    </div>

    <%= f.submit "Create!" %>

<% end %>
